@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
}



.left {
    width: 22vw;
    padding: 10px;
    /* max-height: 100vh; */
    position: relative;
}

.left-top-head {
    display: flex;
    justify-content: space-between;
}

/* .spoti-logo{
    width: 145px;
} */
.right {
    background-color: rgb(124, 112, 112);
    width: 77vw;
    position: relative;
    /* max-height: 100vh; */

}

/* .home ul {
    gap: 5%;
} */



.home ul li {
    padding: 10px;
    display: flex;
    width: 30px;
    font-size: large;
    list-style: 40px;
    gap: 15px;
    padding-top: 7px;
    align-items: center;
}

.library>ul {
    padding: 10px;
    display: flex;
    /* width: 414px; */
    list-style: none;
    gap: 15px;
    /* padding-top: 7px; */
    justify-content: space-between;
    /* align-items: center; */
    text-align: center;
}

.library li {
    /* align-items: center; */
    gap: 5px;

}

.footer {
    display: flex;
    font-size: 10px;
    /* color: grey; */
    position: absolute;
    bottom: 0px;
    flex-wrap: wrap;
    /* grid:10px; */

}

.footer div {
    margin: 5px;
}

.library {
    min-height: 80vh;
    position: relative;
}

.header {
    display: flex;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 5px;
    background-color: rgb(167, 165, 165);
}

.nav {
    display: flex;
    /* width: 62vh; */
}

.nav li {
    border-radius: 90%;
    /* background-color: grey; */
    padding: 5px;
    gap: 5px;
    align-items: center;
}

.button {
    gap: 5px;
}

.button-ern-pad {
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
}



.header>* {
    padding: 20px;
}

.spotify-playlist {
    padding: 20px;
    /* width: 90%; */

}

.card-container {
    width: 99%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 285px;


}



.card-container .top-contaier {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.card-container .playbar {
    align-self: center;
}

.spotify-playlist .card {
    width: 200px;
    /* height: 220px; */
    margin: 10px;
    padding: 5px;
    /* background-color: #978f8f; */
    position: relative;

}

.card img {
    width: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.card-container {
    background-color: rgb(126 122 122);
    padding: 10px;
    margin: 3px 3px 3px 3px;
}

.bg-lblack {
    background-color: black;
    margin: 5px;
}

.play-button {
    background-color: rgb(29, 240, 29);
    width: 25px;
    border-radius: 50%;
    padding: 5px 7px 3px 10px;
    position: absolute;
    right: 8px;
    top: 217px;
    opacity: 1;
    transition: all 1s ease-out;
}


.creatlib {
    background-color: rgb(0, 0, 0);
    margin: 10px;
    padding-top: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    max-height: 200px;
    overflow-y: scroll;
}



.library1 {
    margin-left: 10px;
}

.library1 {
    padding-top: 20px;
    list-style: none;
}

.lib2 {
    padding-top: 30px;
}



/* .library1 :nth-child(0) {
    font-size: 20px;
} */

.library1 :nth-child(1) {
    font-size: 15px;
    /* padding: 5px; */
    border-radius: 50px;
}

.library1 button {
    padding: 3px 15px 3px 15px;
    font-weight: bold;
}

.playbar {
    border-radius: 14px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    color: black;
    bottom: 0px;
    padding: 7px;
    /* max-width: 99vw; */
    /* width: 62vw; */
    width: 72vw;
    min-height: 10vh;
    bottom: 24px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    margin: -8px;
}



.playbar img {
    width: 30px;
}

.control {
    gap: 10px;
    align-items: center;
}

.song-info {
    /* max-width: 200px; */
    /* position: relative; */
    /* overflow-y: auto; */
}

.songs-list ul {
    padding: 5px 2px;
}

.songs-list {
    height: 300px;
    overflow: auto;
    scrollbar-color: black;
}

.songs-list .playNow {
    color: white;
}

.songs-list ul img {
    width: 25px;
}

.songs-list ul li {
    margin: 9px 0px;

    border: 2px solid white;
    list-style-type: none;
    display: flex;
    gap: 12px;

    cursor: pointer;
    padding: 4px 12px;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;




}

.playNow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playNow span {
    font-size: 15px;

}

.info {
    font-size: 15px;
    width: 160px;
    padding: 5px 0px;


}

.seekbar {
    height: 3px;
    width: 98%;
    /* border: 2px solid rgb(49, 49, 48); */
    background-color: black;
    position: absolute;
    bottom: 5px;
    justify-content: center;
    padding: 2px;
    cursor: pointer;
    /* width: calc(76vw - 70px); */
}

.circle {
    height: 15px;
    background-color: black;
    width: 15px;
    position: relative;
    bottom: 7.5px;
    border-radius: 50%;
    left: 0%;
    transition: left 0.5s ease-out;

}

.control img {
    cursor: pointer;
}


.hamburger {
    display: none;
}

.bt-sign {
    background-color: rgb(107 103 103);
    color: white;
    border: 1px solid white;
    /* padding: 0px 15px; */
}

.song-info {
    width: 225px;
    align-items: center;
    justify-content: center;
}

.song-duration {
    width: 90px;
}

.end-control {
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

 .volumebtn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
    
}

.range{
    /* width: 20px; */
}

@media (max-width: 1400px) {
    .left {
        background-color: red;
        position: absolute;
        z-index: 1;
        left: -150%;
        width: 340px;

    }

    .right {
        width: 100%;
    }

    .playbar {
        /* width: 90%; */
        width: calc(91vw - 9px);
        display: flex;
        flex-direction: column;
        gap: 2px;
        bottom: 15px;
    }

    .header {
        width: 97vw;
    }


    .seekbar {
        /* width: 95%; */
        /* width: calc(100vw - 70px); */
    }

    .hamburger {
        display: block;
        /* height: 56px; */
        /* width: 50px; */
        align-items: center;
    }

    .nav {
        align-items: center;
    }

    .card-container {
        justify-content: center;
        padding: 0px;
        margin: 23px 3px;

    }

    .button {
        display: flex;
        padding: 0px;
    }

    .song-info,
    .song-duration {
        width: auto;
        ;
    }

}