.flex{
    display: flex;
}

.justify-content{
    justify-content: center;
}

.items-center{
align-items: center;
}

.border{
    border: 2px solid rgb(247, 47, 47);
    margin: 3px;
}
.bg-black{
    background-color: #121212;
    color: white;
}

.invert{
    filter: invert(1);
}

.bg-grey{
    background-color: rgba(104, 101, 101, 0.829);
}

.p-1{
    margin: 5px;
}

.round{
    border-radius: 100%;
}

